


<section id="sec7">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="card">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-6 ">
                            <h2>STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
                        </div>
                        <div class="col-4 ">
                            <div class="inputs">
                                <div class="email">
                                    <input type="email" placeholder="Enter your email address" name="email">
                                    <img class="icon" src="assets/images/footer/svg-input.svg" alt="">
                                </div>
                                <input type="submit" value="Subscribe to Newsletter">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<footer>

    <div class="container">
        <div class="top-footer">
             <div class="row justify-content-between">
            <div class="col-3 ">
                <div class="shop">
                    <h2>SHOP.CO</h2>
                    <p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
                    <div class="social">
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-1  text-center">
                <ul>
                    <li class="first-item"><a>Company </a></li>
                    <li><a>About </a> </li>
                    <li><a>Features </a></li>
                    <li><a>Works  </a></li>
                    <li><a>Career </a></li>
                </ul>
            </div>
            <div class="col-2 ">
                <ul>
                    <li class="first-item"><a>Help </a></li>
                    <li><a>Customer Support </a> </li>
                    <li><a>Delivery Details </a></li>
                    <li><a>Terms & Conditions </a> </li>
                    <li><a>Privacy Policy </a></li>
                </ul>
            </div>
            <div class="col-2 ">
                <ul>
                    <li class="first-item"><a>FAQ </a></li>
                    <li><a>Account </a> </li>
                    <li><a>Manage Deliveries </a></li>
                    <li><a>Orders  </a></li>
                    <li><a>Payments </a></li>
                </ul>
            </div>
            <div class="col-2 ">
                <ul>
                    <li class="first-item"><a>Resources </a></li>
                    <li><a>Free eBooks  </a></li>
                    <li><a>Development Tutorial </a></li>
                    <li><a>How to - Blog  </a></li>
                    <li><a>Youtube Playlist </a></li>
                </ul>
            </div>
        </div>
        </div>
       
        <div class="bottom-footer">
            <div class="row justify-content-between align-items-center">
            <div class="col-3 text-start">
               <span>Shop.co © 2000-2023, All Rights Reserved</span> 
            </div>
            <div class="col-4">
                <div class="visa">
                    <img src="assets/images/footer/v1.png" alt="visa">
                    <img src="assets/images/footer/v2.png" alt="visa">
                    <img src="assets/images/footer/v3.png" alt="visa">
                    <img src="assets/images/footer/v4.png" alt="visa">
                    <img src="assets/images/footer/v5.png" alt="visa">
                   
                </div>
            </div>
        </div>
        </div>
        
    </div>

</footer>