

// fonts

    $gatter:14px;

    // size
    $size_0:64px;
    $size_1:40px;
    $size_2:48px;
    $size_3:32px;
    $size_7:20px;
    $size_8:16px;
    
   
    // colors
    $color_1:#F2F0F1;
    $color_2:#000000;
    $color_3:#ffffff;
    $color_4:#F0EEED;
   
    // family
    $family_1:"arial";
    $family_2:"arial";
   
    
