@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
@import '../../../node_modules/slick-carousel/slick/slick.scss';
@import '../../../node_modules/slick-carousel/slick/slick-theme.scss';
//@import '../../../node_modules/jquery-ui-dist/jquery-ui.css';
//@import '../../../node_modules/jquery-ui-dist/jquery-ui.theme.css';
//@import "../../../node_modules/jquery-bar-rating/dist/themes/fontawesome-stars";

// family
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


@import 'variables';
@import 'mixins';
// @import 'classes';
@import 'extends';

// @import 'modules';
@font-face {
    font-family: "integral";
    src: url('fonnts.com-Integral_CF_Regular.ttf') format('truetype');


}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


.borderr {
    border: 1px solid rgb(236, 10, 10);
}

body {
    overflow-x: hidden;
}

.row {
    --bs-gutter-x: 0;
}

// @include textProperties($colorText: $color_2,
// $family: $family_2 , $weight: 500, $size: $size_2 , $lineHeight: 24px);

