@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
@import '../../../node_modules/slick-carousel/slick/slick.scss';
@import '../../../node_modules/slick-carousel/slick/slick-theme.scss';
//@import '../../../node_modules/jquery-ui-dist/jquery-ui.css';
//@import '../../../node_modules/jquery-ui-dist/jquery-ui.theme.css';
//@import "../../../node_modules/jquery-bar-rating/dist/themes/fontawesome-stars";

// family
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


@import 'variables';
@import 'mixins';
// @import 'classes';
@import 'extends';

// @import 'modules';
@font-face {
    font-family: "integral";
    src: url('fonnts.com-Integral_CF_Regular.ttf') format('truetype');


}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


.borderr {
    border: 1px solid rgb(236, 10, 10);
}

body {
    overflow-x: hidden;
}

.row {
    --bs-gutter-x: 0;
}

// @include textProperties($colorText: $color_2,
// $family: $family_2 , $weight: 500, $size: $size_2 , $lineHeight: 24px);



header {

    .sign {
        background-color: #000;
        padding: 10px 0;

        .sign-up {
            position: relative;

            button {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                font-size: 18px;
                background-color: transparent;
                border: none;

                i {
                    background-color: transparent;
                }


            }

            h2 {
                @include textProperties($colorText: $color_3,
                    $family: $family_2 , $weight: 400, $size: 14px, $lineHeight: 18px);

                span {
                    a {
                        text-decoration: none;
                        @include textProperties($colorText: $color_3,
                            $family: $family_2 , $weight: 500, $size: 14px, $lineHeight: 18px);
                    }
                }
            }
        }
    }

    .navbar {
        padding: 24px 0px !important;
    }

    .navbar-brand {
        margin-right: 40px;
        padding: 0px !important;

        h1 {

            color: #000 !important;
            font-weight: 700 !important;
            font-size: $size_3 !important;
            line-height: 38px !important;
        }

    }

    .nav-link {
        padding: 0px 12px !important;
        color: #000 !important;
        font-weight: 400 !important;
        font-size: $size_8 !important;
        line-height: 21px !important;

    }

    form {
        gap: 40px !important;

    }

    .icons {
        @extend .flex-row;
        gap: 14px;

        button {
            border: none;
        }

    }

    .search {
        position: relative;

        .form-control {

            width: 577px !important;
            padding: 13px 0px 13px 52px !important;
            background-color: #F0F0F0 !important;
            border: none !important;
            border-radius: 62px !important;

            &::placeholder {
                @include textProperties($colorText: rgba(0, 0, 0, 0.4),
                    $family: $family_2 , $weight: 400, $size: $size_8 , $lineHeight: 21px);
            }
        }

        i {
            position: absolute;
            left: 17px;
            top: 50%;
            transform: translateY(-50%);
            color: rgba(0, 0, 0, 0.4);

        }
    }

}

#sec1 {
    background-color: $color_1;
    position: relative;


    .left-sec1 {
        padding: 103px 0 116px;

        h2 {
            max-width: 577px;
            margin-right: auto;
            margin-bottom: 32px;
            @include textProperties($colorText: $color_2,
                $family: $family_1 , $weight: 700, $size: $size_0 , $lineHeight: 64px);
        }

        p {
            max-width: 545px;
            margin-right: auto;
            margin-bottom: 32px;
            @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 22px);
        }

        a {
            display: inline-block;
            text-decoration: none;
            margin-bottom: 48px;
            background-color: $color_2;
            border-radius: 62px;
            border: none;
            padding: 15px 67.5px;
            @include textProperties($colorText: $color_3,
                $family: $family_1 , $weight: 500, $size: $size_8 , $lineHeight: 21.6px);
        }

        .list-sec1 {
            @extend .flex-row;
            justify-content: start;
            gap: 64px;

            span:nth-child(1) {

                display: block;
                @include textProperties($colorText: $color_2,
                    $family: 'Satoshi-Variable', $weight: 700, $size: $size_1 , $lineHeight: 54px);
            }

            span:nth-child(2) {
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 22px);
            }

        }

    }

    .image {
        width: 100%;
        position: relative;

        .svg {
            position: absolute;
        }

        .svg-1 {
            left: 0;
            bottom: 310px;
        }

        .svg-2 {
            right: 0;
            bottom: 473px;
        }

        img {
            width: 100%;
        }
    }

    .prev,
    .next {
        position: absolute;
        bottom: 20px;
        z-index: 2;
        cursor: pointer;

    }

    .prev {
        left: 48%;

    }

    .next {
        right: 48%;

    }
}

#sec2 {
    background-color: $color_2;
    padding: 44px 0;

    .imges {
        @extend .flex-row;
        gap: 106px;
    }
}

#sec3,
#sec4,
#sec10 {
    padding: 72px 0 64px;

    h2 {
        margin-bottom: 55px;
        @include textProperties($colorText: $color_2,
            $family: $family_1 , $weight: 700, $size: $size_2 , $lineHeight: 57px);

    }

    .slick-2 {
        margin-bottom: 36px;
        position: relative;

        a {
            text-decoration: none;
        }

        .card {
            border: none;
            cursor: grab;

            .card-img {

                width: 295px;
                // width:100%;
                height: 298px;
                background-color: $color_4;
                border: none;
                border-radius: 20px;
                margin-bottom: 16px;
                overflow: hidden;

                img {

                    width: 100%;
                    height: 100%;
                }

            }

            h3 {
                text-transform: lowercase;
                text-transform: capitalize;
                margin-bottom: 8px;
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 27px);
            }

            .stars {
                margin-bottom: 10px;
                @extend .flex-row;
                width: fit-content;
                justify-content: start;
                gap: 5.3px;

                .numStars {
                    margin-left: 13px;
                    @include textProperties($colorText: #000,
                        $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 18px);
                }

                .five {
                    @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                        $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 18px);
                }

            }


            .discound {
                @extend .flex-row;
                justify-content: start;
                gap: 10px;

                .price {
                    @include textProperties($colorText: $color_2,
                        $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32.4px);
                }

                .trueprice-line {
                    text-decoration: line-through;
                    @include textProperties($colorText: rgba(0, 0, 0, 0.4),
                        $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32.4px);
                }

                .truedis-price {
                    background-color: rgba(255, 51, 51, 0.1);
                    border: none;
                    border-radius: 62px;
                    padding: 6px 13px;
                    @include textProperties($colorText: #FF3333,
                        $family: $family_1 , $weight: 500, $size: 12px, $lineHeight: 16px);

                }

            }



        }

        .prev,
        .next {
            position: absolute;
            top: 50%;
            z-index: 2;
            cursor: pointer;
            transform: translateX(-50%);

        }

        .prev {
            left: -24px;

        }

        .next {
            right: -24px;

        }
    }

    button {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 62px;
        padding: 15px 80px;
        @include textProperties($colorText: $color_2,
            $family: $family_1 , $weight: 500, $size: $size_8 , $lineHeight: 21px);

    }

}

#sec3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#sec4 {
    padding: 64px 0 80px;

}

#sec5 {
    .sec5 {
        padding: 70px 64px 76px;
        background-color: #F0F0F0;
        border: none;
        border-radius: 40px;

        h2 {
            margin-bottom: 64px;
            @include textProperties($colorText: $color_2,
                $family: $family_1 , $weight: 700, $size: $size_2 , $lineHeight: 57px);

        }

        .dress {
            column-gap: 20px;
            row-gap: 20px;
        }

        .image {
            background-color: #fff;
            border: none;
            border-radius: 20px;
            overflow: hidden;
            height: 289px;
            position: relative;

            h3 {
                position: absolute;
                top: 25px;
                left: 36px;
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 700, $size: 36, $lineHeight: 48px);
            }

            img {
                width: 100%;
                height: 100%;

            }
        }
    }
}

#sec6 {
    padding: 80px 0;

    h2 {
        margin-bottom: 40px;
        @include textProperties($colorText: $color_2,
            $family: $family_1 , $weight: 700, $size: $size_2 , $lineHeight: 57px);
    }

    .slick-3 {
        position: relative;

        .slick-track {
            display: flex;
            gap: 20px;
        }

        .card {
            cursor: grab;
            padding: 28px 32px 0;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            // max-width: 400px;
            height: 240px;

            .stars {
                margin-bottom: 15px;
                @extend .flex-row;
                width: fit-content;
                justify-content: start;
                gap: 6.3px;

            }

            .title {
                @extend .flex-row;
                justify-content: start;
                gap: 4px;
                margin-bottom: 12px;

                h4 {
                    @include textProperties($colorText: $color_2,
                        $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 22px);
                }
            }

            p {
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 22px);
            }


        }

        .prev,
        .next {
            position: absolute;
            top: -40px;
            z-index: 2;
            cursor: pointer;
            transform: translateY(-100%);

        }

        .prev {
            right: 140px;

        }

        .next {
            right: 100px;

        }

    }


}

#sec7 {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
        background-color: #F0F0F0;
        z-index: -1;
    }

    .card {
        padding: 36px 64px;
        background-color: #000000;
        border: none;
        border-radius: 20px;



        h2 {
            @include textProperties($colorText: $color_3,
                $family: $family_1 , $weight: 700, $size: $size_1 , $lineHeight: 45px);
        }

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 14px;

            input {
                background-color: #fff;
                border: none;
                border-radius: 62px;
                padding: 12px 0;
                width: 100%;
            }

            .email {
                position: relative;

                input:nth-child(1) {
                    padding-left: 52px;

                    &::placeholder {
                        @include textProperties($colorText: rgba(0, 0, 0, 0.4),
                            $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 21px);
                    }
                }

                .icon {
                    position: absolute;
                    top: 12px;
                    left: 16px;
                }

            }

            input:nth-child(2) {
                &::placeholder {
                    @include textProperties($colorText: $color_2,
                        $family: $family_1 , $weight: 500, $size: $size_8 , $lineHeight: 21px);
                }
            }


        }
    }
}




#sec8 {

    .crumb {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 24px;

        .breadcrumb {
            gap: 12px;
            margin-bottom: 36px;

            .breadcrumb-item {
                a {

                    text-decoration: none;
                    @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                        $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 21px);
                }

            }

            .breadcrumb-item.active {
                a {

                    color: #000;
                }
            }

        }

    }

    .shirts {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .img-shirt {


        img {
            height: 100%;

        }
    }

    .details {
        h2 {
            margin-bottom: 14px;
            @include textProperties($colorText: $color_2,
                $family: $family_1 , $weight: 700, $size: $size_1 , $lineHeight: 48px);

        }

        .stars {
            margin-bottom: 14px;
            @extend .flex-row;
            justify-content: start;
            gap: 7.3px;

            .numStars {
                margin-left: 7px;
                @include textProperties($colorText: #000,
                    $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 18px);
            }

            .five {

                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 18px);
            }

        }

        .price {
            margin-bottom: 20px;
            @extend .flex-row;
            justify-content: start;
            gap: 12px;

            .afterDis,
            .beforeDis {
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 700, $size: $size_3 , $lineHeight: 43px);
            }

            .beforeDis {
                color: rgba(0, 0, 0, 0.3);
                text-decoration: line-through;
            }

            .discound {
                background-color: rgba(255, 51, 51, 0.1);
                border-radius: 62px;
                border: none;
                padding: 6px 14px;
                @include textProperties($colorText: #FF3333,
                    $family: $family_1 , $weight: 500, $size: $size_8 , $lineHeight: 21px);
            }

        }

        p {
            margin-bottom: 24px;
            padding-bottom: 24px;
            @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 22px);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .colors {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 24px;

            h5 {
                margin-bottom: 16px;
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 21px);

            }

            .circles {
                margin-bottom: 24px;
                @extend .flex-row;
                gap: 16px;
                justify-content: start;

                span {
                    width: 37px;
                    height: 37px;
                    border-radius: 50%;
                    @extend .flex-row;
                    cursor: pointer;
                }

                .span-1 {
                    background-color: #4F4631;

                }

                .span-2 {
                    background-color: #314F4A;
                }

                .span-3 {
                    background-color: #31344F;
                }
            }
        }

        .size {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 24px;

            h5 {
                margin-bottom: 16px;
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 21px);

            }

            .btns-size {
                cursor: pointer;
                margin-bottom: 24px;
                @extend .flex-row;
                gap: 12px;
                justify-content: start;

                span {
                    cursor: pointer;
                    background-color: #F0F0F0;
                    text-decoration: none;
                    border: none;
                    padding: 12px 24px;
                    border-radius: 62px;
                    @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                        $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 22px);
                }

            }
        }

        .btn-add {

            @extend .flex-row;
            justify-content: start;
            gap: 20px;

            .increase-decrease {
                background-color: #F0F0F0;
                border: none;
                border-radius: 62px;
                width: 170px;
                padding: 15px 0px;
                @extend .flex-row;
                gap: 38px;

                button {
                    border: none;
                    background-color: transparent;


                }




            }

            .add {
                background-color: $color_2;
                padding: 15px 157px;
                border-radius: 62px;
                @include textProperties($colorText: $color_3,
                    $family: $family_1 , $weight: 500, $size: $size_8 , $lineHeight: 21px);

            }
        }

    }
}


#sec9 {
    padding: 80px 0 64px;

    .nav-tabs {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .nav {
        justify-content: center;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        border: none;
        padding: 0px 129px 24px;
        @include textProperties($colorText: rgba(0, 0, 0, 0.6),
            $family: $family_1 , $weight: 400, $size: $size_7 , $lineHeight: 22px);
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-bottom: 2px solid #000;
        @include textProperties($colorText: $color_2,
            $family: $family_1 , $weight: 500, $size: $size_7 , $lineHeight: 22px);
    }

    .reviews {
        @extend .flex-row;
        justify-content: space-between;
        margin: 24px 0;

        h3 {
            @include textProperties($colorText: $color_2,
                $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32px);
        }

        span {
            margin-left: 8px;
            @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                $family: $family_1 , $weight: 400, $size: 16px, $lineHeight: 22px);
        }

        .btns-rev {
            @extend .flex-row;
            gap: 10px;

            a {
                @extend .flex-row;
                text-decoration: none;
                background-color: #F0F0F0;
                width: 48px;
                height: 48px;
                border: none;
                border-radius: 62px;

            }

            button {
                background-color: #000;
                border: none;
                border-radius: 62px;
                padding: 13px 30px;
                @include textProperties($colorText: $color_3,
                    $family: $family_1 , $weight: 500, $size: 16px, $lineHeight: 21px);


            }

            #cars {
                padding: 13px 20px;
                background-color: #F0F0F0;
                border: none;
                border-radius: 62px;
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 500, $size: 16px, $lineHeight: 21px);

            }
        }

        .modal-body {
            textarea {
                width: 100%;
                outline: none;
                border: 1px solid  #F0F0F0;
                border-radius: 20px;
                background-color: #f0f0f0;
                padding: 12px 7px;
            }
            .title-text,.title-text2,.title-text3{
                width: 100%;
                outline: none;
                border: 1px solid  #F0F0F0;
                border-radius: 20px;
                background-color: #f0f0f0;
                padding: 12px 7px;
                margin-bottom: 15px;

            }
        }
        .btn-close {
            background-color: transparent !important;
        }

    }

    .cards {
        margin-bottom: 36px;
        row-gap: 20px;
        // column-gap: 20px;
        --bs-gutter-x: 20px !important;

        .card9 {
            padding: 28px 32px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 20px;

            .pointstars {
                margin-bottom: 15px;

                .stars {

                    @extend .flex-row;
                    width: fit-content;
                    justify-content: start;
                    gap: 6.3px;

                }
            }

            .title {
                @extend .flex-row;
                justify-content: start;
                gap: 6px;
                margin-bottom: 12px;

                h4 {
                    @include textProperties($colorText: $color_2,
                        $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 22px);
                }
            }

            p {
                margin-bottom: 24px;
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 22px);
            }

            h5 {
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 500, $size: $size_8 , $lineHeight: 22px);
            }

        }
    }

    .load {
        width: 230px;
        margin: auto;
        text-decoration: none;
        @extend .flex-row;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 62px;
        padding: 15px 0px;
        @include textProperties($colorText: $color_2,
            $family: $family_1 , $weight: 500, $size: 16px, $lineHeight: 21px);

    }
}

#sec11 {
    padding-bottom: 80px;

    .sec11-row {

        --bs-gutter-x: 20px !important;
    }

    .crumb {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 24px;

        .breadcrumb {
            gap: 12px;
            margin-bottom: 24px;

            .breadcrumb-item {
                a {

                    text-decoration: none;
                    @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                        $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 21px);
                }

            }

            .breadcrumb-item.active {
                a {

                    color: #000;
                }
            }

        }

    }

    a {
        text-decoration: none;
    }

    .card {
        border: none;


        .card-img {

            width: 295px;
            // width:100%;
            height: 298px;
            background-color: $color_4;
            border: none;
            border-radius: 20px;
            margin-bottom: 16px;
            overflow: hidden;

            img {

                width: 100%;
                height: 100%;
            }

        }

        h3 {
            margin-bottom: 8px;
            @include textProperties($colorText: $color_2,
                $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 27px);
        }

        .stars {
            margin-bottom: 10px;
            @extend .flex-row;
            width: fit-content;
            justify-content: start;
            gap: 5.3px;
            .numStars {
                margin-left: 7px;
                @include textProperties($colorText: #000,
                    $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 19px);
            }

            .five {
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 19px);
            }

        }

        span {
            @include textProperties($colorText: $color_2,
                $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32.4px);
        }

        .discound {
            @extend .flex-row;
            justify-content: start;
            gap: 10px;

            .price {
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32.4px);
            }

            .trueprice-line {
                text-decoration: line-through;
                @include textProperties($colorText: rgba(0, 0, 0, 0.4),
                    $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32.4px);
            }

            .truedis-price {
                background-color: rgba(255, 51, 51, 0.1);
                border: none;
                border-radius: 62px;
                padding: 6px 13px;
                @include textProperties($colorText: #FF3333,
                    $family: $family_1 , $weight: 500, $size: 12px, $lineHeight: 16px);

            }

        }


    }






    .accordion-item {
        border: none;
        color: red;
    }

    .accordion-button:not(.collapsed) {
        color: #000;
        background-color: transparent;
        box-shadow: none;
    }

    .accordion-button:focus {

        border-color: transparent;
        outline: 0;
        box-shadow: none;
        color: #000;
    }

    .accordion-body {
        padding: 0;
    }

    .accordion-button {
        padding: 0;
        margin-bottom: 20px;
        @include textProperties($colorText: rgba(0, 0, 0, 0.6),
            $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 21px);

    }
    .accor-description{
        margin-bottom: 20px;
        @include textProperties($colorText: rgba(0, 0, 0, 0.6),
            $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 21px);
    }

    .price,
    .Colors,
    .Size,
    .Dress,
    .accord-dress {
        .accordion-button:not(.collapsed) {
            @include textProperties($colorText: #000,
                $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 27px);
        }
    }


    aside {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 20px 24px 29px;

        .filter {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            @extend .flex-row;
            justify-content: space-between;

            h3 {
                @include textProperties($colorText: #000,
                    $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 27px);
            }

            img {
                color: rgba(0, 0, 0, 0.4);
            }
        }

        .accord-filter {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);



        }

        .price {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .accordion-button {
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 27px);

            }


            [slider] {
                position: relative;
                height: 14px;
                border-radius: 10px;
                text-align: left;
            }

            [slider]>div {
                position: absolute;
                left: 0px;
                right: 0px;
                height: 6px;
            }

            [slider]>div>[inverse-left] {
                position: absolute;
                left: 0;
                height: 6px;
                border-radius: 20px;
                background-color: #F0F0F0;

            }

            [slider]>div>[inverse-right] {
                position: absolute;
                right: 0;
                height: 6px;
                border-radius: 20px;
                background-color: #F0F0F0;

            }

            [slider]>div>[range] {
                position: absolute;
                left: 0;
                height: 6px;
                border-radius: 20px;
                background-color: #000000;
            }

            [slider]>div>[thumb] {
                position: absolute;
                top: -7px;
                z-index: 2;
                height: 20px;
                width: 20px;
                text-align: left;
                margin-left: -11px;
                cursor: pointer;
                background-color: #000;
                border-radius: 50%;
                outline: none;
            }

            [slider]>input[type=range] {
                position: absolute;
                pointer-events: none;
                -webkit-appearance: none;
                z-index: 3;
                height: 14px;
                top: -2px;
                width: 100%;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                -moz-opacity: 0;
                -khtml-opacity: 0;
                opacity: 0;
            }

            div[slider]>input[type=range]::-ms-track {
                -webkit-appearance: none;
                background: transparent;
                color: transparent;
            }

            div[slider]>input[type=range]::-moz-range-track {
                -moz-appearance: none;
                background: transparent;
                color: transparent;
            }

            div[slider]>input[type=range]:focus::-webkit-slider-runnable-track {
                background: transparent;
                border: transparent;
            }

            div[slider]>input[type=range]:focus {
                outline: none;
            }

            div[slider]>input[type=range]::-ms-thumb {
                pointer-events: all;
                width: 28px;
                height: 28px;
                border-radius: 0px;
                border: 0 none;
                background: red;
            }

            div[slider]>input[type=range]::-moz-range-thumb {
                pointer-events: all;
                width: 28px;
                height: 28px;
                border-radius: 0px;
                border: 0 none;
                background: red;
            }

            div[slider]>input[type=range]::-webkit-slider-thumb {
                pointer-events: all;
                width: 28px;
                height: 28px;
                border-radius: 0px;
                border: 0 none;
                background: red;
                -webkit-appearance: none;
            }

            div[slider]>input[type=range]::-ms-fill-lower {
                background: transparent;
                border: 0 none;
            }

            div[slider]>input[type=range]::-ms-fill-upper {
                background: transparent;
                border: 0 none;
            }

            div[slider]>input[type=range]::-ms-tooltip {
                display: none;
            }

            [slider]>div>[sign] {

                position: absolute;
                margin-left: -11px;
                bottom: -27px;
                z-index: 3;

                @include textProperties($colorText: #000,
                    $family: $family_1 , $weight: 500, $size: 14px, $lineHeight: 18px);



                -webkit-border-radius: 28px;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                text-align: center;
            }

            [slider]>div>[sign]:before {
                position: absolute;
                content: '$';
                left: -8px;





            }






        }

        .Colors {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .accordion-button {
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 27px);

            }

            .colors-circle {
                cursor: pointer;
                @extend .flex-row;
                justify-content: start;
                flex-wrap: wrap;
                gap: 16px;

                span {
                    @extend .flex-row;
                    width: 37px;
                    height: 37px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 50%;
                }
            }

        }

        .Size {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .accordion-button {
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 27px);

            }

            .btns {
                cursor: pointer;
                @extend .flex-row;
                flex-wrap: wrap;
                justify-content: start;
                gap: 8px;

                span {
                    background-color: #F0F0F0;
                    border-radius: 62px;
                    border: none;
                    padding: 10px 20px;
                    @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                        $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 18px);

                }
            }

        }

        .Dress {
            margin-bottom: 24px;

            .accordion-button {
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 27px);

            }

            .accord-dress {
                .accordion-button {
                    @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                        $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 21px);

                }
            }
        }

        .sec11 {
            --bs-gutter-x: 20px !important;
        }

        .title {
            margin-bottom: 16px;
            @include textProperties($colorText: #000,
                $family: $family_1 , $weight: 700, $size: 32px, $lineHeight: 43px);

        }


        .apply {
            width: 100%;
            padding: 14px 0px;
            background-color: #000;
            border: none;
            border-radius: 62px;
            @include textProperties($colorText: $color_1,
                $family: $family_1 , $weight: 500, $size: 14px, $lineHeight: 18px);

        }

        .accordion-button::after{
            transform: rotate(270deg);

        }
        .accordion-button:not(.collapsed)::after {

            transform: rotate(360deg) !important;
            background-image: url('../../assets/images/sec11/arrow.png') !important;
        }


    }



    .products {
        row-gap: 36px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 32px;
        margin-bottom: 20px;



        a {
            text-decoration: none;

            .card {
                border: none;


                .card-img {

                    width: 295px;
                    // width:100%;
                    height: 298px;
                    background-color: $color_4;
                    border: none;
                    border-radius: 20px;
                    margin-bottom: 16px;
                    overflow: hidden;

                    img {

                        width: 100%;
                        height: 100%;
                    }

                }

                h3 {
                    margin-bottom: 8px;
                    @include textProperties($colorText: $color_2,
                        $family: $family_1 , $weight: 700, $size: $size_7 , $lineHeight: 27px);
                }

                .stars {
                    margin-bottom: 10px;
                    @extend .flex-row;
                    width: fit-content;
                    justify-content: start;
                    gap: 5.3px;

                }

                span {
                    @include textProperties($colorText: $color_2,
                        $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32.4px);
                }


            }
        }
    }

    .casual {
        width: 100%;
        @extend .flex-row;
        justify-content: space-between;
        margin-bottom: 16px;

        h2 {
            @include textProperties($colorText: #000,
                $family: $family_1 , $weight: 700, $size: 32px, $lineHeight: 43px);
        }

        .popular {
            @extend .flex-row;
            gap: 12px;

            .show {
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: 16px, $lineHeight: 21px);
            }

            .sort {
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: 16px, $lineHeight: 21px);

                #cars {
                    background-color: transparent;
                    border: none;
                    padding-right: 4px;
                    @include textProperties($colorText: $color_2,
                        $family: $family_1 , $weight: 500, $size: 16px, $lineHeight: 21px);

                }
            }
        }
    }

    .pagination-page {
        .pagination {
            margin: 0px;
            width: 100%;
            justify-content: space-between;

            .page-link {
                border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 8px 14px;
                @include textProperties($colorText: #000,
                    $family: $family_1 , $weight: 500, $size: 14px, $lineHeight: 20px);

                .prev {
                    margin-right: 8px;
                }

                .next {
                    margin-left: 8px;
                }

            }

            .items {
                @extend .reset-ul;
                @extend .flex-row;

                .page-link {
                    border: none;
                    @include textProperties($colorText: rgba(0, 0, 0, 0.5),
                        $family: $family_1 , $weight: 500, $size: 14px, $lineHeight: 20px);

                }

            }
        }
    }


}


#sec12 {

    .crumb {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 24px;

        .breadcrumb {
            gap: 12px;
            margin-bottom: 24px;

            .breadcrumb-item {
                a {

                    text-decoration: none;
                    @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                        $family: $family_1 , $weight: 400, $size: $size_8 , $lineHeight: 21px);
                }

            }

            .breadcrumb-item.active {
                a {

                    color: #000;
                }
            }

        }

    }

    padding-bottom: 80px;

    .card-row {
        --bs-gutter-x: 20px !important;
    }

    .title-card {
        text-transform: uppercase;
        margin-bottom: 24px;
        @include textProperties($colorText: $color_2,
            $family: $family_1 , $weight: 700, $size: $size_2, $lineHeight: 48px);
    }

    .your-card {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 20px 24px;

        .card-row {
            row-gap: 24px;

            .card {
                width: 100%;
                padding-bottom: 24px;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                @extend .flex-row;
                justify-content: space-between;
                align-items: stretch;

                // gap: 16px;
                .left-card {
                    @extend .flex-row;
                    gap: 16px;

                    .image {
                        width: 124px;
                        height: 124px;
                        border-radius: 8px;
                        border: none;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .des {
                        h2 {
                            margin-bottom: 2px;
                            @include textProperties($colorText: $color_2,
                                $family: $family_1 , $weight: 700, $size: $size_7, $lineHeight: 27px);

                        }

                        h3 {
                            margin-bottom: 4px;
                            @include textProperties($colorText: $color_2,
                                $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 18px);

                            span {
                                color: rgba(0, 0, 0, 0.6);
                            }

                        }

                        h4 {
                            margin-top: 11px;
                            @include textProperties($colorText: $color_2,
                                $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32px);

                        }
                    }
                }

                .right-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: end;


                    .fa-trash-can {
                        color: #FF3333;
                        margin-top: 10px;
                    }


                    .increase-decrease {
                        background-color: #F0F0F0;
                        border: none;
                        border-radius: 62px;
                        width: 126px;
                        padding: 12px 0px;
                        @extend .flex-row;
                        gap: 28px;

                        button {
                            border: none;
                            background-color: transparent;


                        }




                    }
                }
            }
        }


    }

    .summary {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 20px 24px 33px;

        h2 {
            margin-bottom: 24px;
            @include textProperties($colorText: #000,
                $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32px);
        }

        div {
            @extend .flex-row;
            margin-bottom: 20px;
            justify-content: space-between;

            span {

                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: 20px, $lineHeight: 27px);
            }

            .number {
                @include textProperties($colorText: #000,
                    $family: $family_1 , $weight: 700, $size: 20px, $lineHeight: 27px);
            }

        }

        .free {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .total {
            margin-bottom: 24px;

            span {
                @include textProperties($colorText: #000000,
                    $family: $family_1 , $weight: 400, $size: 20px, $lineHeight: 27px);
            }

            .number {
                @include textProperties($colorText: #000000,
                    $family: $family_1 , $weight: 700, $size: 24px, $lineHeight: 32px);
            }


        }

        .apply {
            margin-bottom: 24px;
            gap: 12px;

            input {
                background-color: #F0F0F0;
                border-radius: 62px;
                padding: 12px 52px;
                border: none;

            }

            button {
                background-color: #000;
                border: none;
                border-radius: 62px;
                padding: 13px 38px;
                @include textProperties($colorText: #fff,
                    $family: $family_1 , $weight: 500, $size: 16px, $lineHeight: 21px);



            }

        }

        .checkout {
            width: 100%;
            background-color: #000;
            border: none;
            border-radius: 62px;
            padding: 19px 0px;
            @include textProperties($colorText: #FFFFFF,
                $family: $family_1 , $weight: 500, $size: 16px, $lineHeight: 21px);


        }


    }
}

footer {
    padding: 50px 0 81px;
    background-color: #F0F0F0;

    .top-footer {
        padding-bottom: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        ul {
            @extend .reset-ul;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 26px;

            li {

                text-decoration: none;
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: $size_8, $lineHeight: 18px);

            }

            .first-item {


                letter-spacing: 3px;
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 500, $size: $size_8, $lineHeight: 18px);



            }

        }

        .shop {
            h2 {
                margin-bottom: 25px;
                @include textProperties($colorText: $color_2,
                    $family: $family_1 , $weight: 700, $size: 33px, $lineHeight: 40px);
            }

            p {
                max-width: 248px;
                margin-right: auto;
                margin-bottom: 35px;
                @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                    $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 22px);
            }

            .social {
                @extend .flex-row;
                justify-content: start;
                gap: 12px;

                a {
                    @extend .flex-row;
                    text-decoration: none;
                    width: 28px;
                    height: 28px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 50%;
                    background-color: #fff;

                    i {
                        color: #000000;
                        font-size: 12px;
                    }
                }

            }
        }
    }

    .bottom-footer {
        padding-top: 20px;

        span {
            @include textProperties($colorText: rgba(0, 0, 0, 0.6),
                $family: $family_1 , $weight: 400, $size: 14px, $lineHeight: 18px);
        }

        .visa {
            display: flex;
            justify-content: end;

        }
    }
}


// js classes
.hidden {
    display: none;
}

.active-nav-link {
    font-weight: 600;
    border-bottom: 1px solid #000;
}

.non-active-circle {
    img {
        opacity: 0;
    }
}

.active-size {
    background-color: #000 !important;
    color: #fff !important;
}
.non-active-color{
    img {
        opacity: 0;
    }
}


@media screen and (max-width: 500px) {}

@media screen and (max-width: 995px) {}



@media screen and (max-width: 1420px) {}