
{% macro card (imgPath,title,price,state,priceline,discoundprice,stars) %}
<div class="card  text-start">
    <div class="card-img">
        <img src="{{imgPath}}" alt="">
    </div>
    <div class="card-description">
        <h3>{{title}}</h3>
        <div class="stars">

            <span>
                <span class="numStars">{{stars}}</span>
                <span class="five">5</span>
            </span>
            
        </div>
        <div class="discound">
            <span class="price">{{price}}</span>
            <span class="{{state}}price-line">{{priceline}}</span>
            <span class="{{state}}dis-price">{{discoundprice}}</span>
        </div>
    </div>
</div>
{% endmacro %}