
{% macro card (title,des) %}
<div class="card  text-start">
    <div class="stars">
        <img src="assets/images/sec3/Star.svg" alt="star">
        <img src="assets/images/sec3/Star.svg" alt="star">
        <img src="assets/images/sec3/Star.svg" alt="star">
        <img src="assets/images/sec3/Star.svg" alt="star">
        <img src="assets/images/sec3/Star.svg" alt="star">
    </div>
    <div class="title">
        <h4>{{title}} 
        </h4>
        <span>
            <img src="assets/images/sec6/true.svg" alt="true">
        </span>
    </div>
    <p>{{des}}</p>
</div>
{% endmacro %}