{% macro card (imgPath,title,price,size,color) %}
<div class="card ">

    <div class="left-card">
        <div class="image">
            <img src="{{imgPath}}" alt="">
        </div>
        <div class="des">
            <h2>{{title}}</h2>
            
            <h3>Size:<span>{{size}}</span> </h3>
            <h3>Color:<span>{{color}}</span> </h3>
            <h4>{{price}}</h4>
        </div>
    </div>

    <div class="right-card">

        
            <i class="fa-solid fa-trash-can"></i>

            <div class="increase-decrease">
                <button class="min"><i class="fa-solid fa-minus"></i></button>
                <span class="num">1</span>
                <button class="max"><i class="fa-solid fa-plus"></i></button>
              </div>
    
        
        
    </div>



</div>
{% endmacro %}