{% extends "layout.html" %}
{% block content %}
{% import 'component/cardSec12.html' as card1 %}



<section id="sec12">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="crumb">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Cart</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="title-card">Your cart</h2>
            </div>
        </div>
        <div class="row card-row">
            <div class="col-7">
                <div class="your-card">
                    <div class="row card-row">

                        {% for item in dataEn.sec12 %}
                        <div class="col-12">
                            {{card1.card(item.imgPath,item.title,item.price,item.size,item.color)}}
                        </div>

                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="col-5">
                <div class="summary text-start">
                    <h2>Order Summary</h2>
                    <div>
                        <span>Subtotal</span>
                        <span class="number">$565</span>
                    </div>
                    <div>
                        <span>Discount (-20%)</span>
                        <span class="number" style="color: #FF3333;">-$113</span>
                    </div>
                    <div class="free">
                        <span>Delivery Fee</span>
                        <span class="number">$15</span>
                    </div>

                    <div class="total">
                        <span>Total</span>
                        <span class="number">$467</span>
                    </div>
                    <div class="apply">
                        <input type="text" placeholder="Add promo code" class="flex-fill">
                        <button class="flex-fill">Apply</button>
                    </div>
                    <button class="checkout">Go to Checkout</button>

                </div>
            </div>
        </div>

    </div>
</section>


{% endblock content %}