{% extends "layout.html" %}


{% import 'component/cardSec2.html' as card %}
{% import 'component/cardSec3.html' as card1 %}
{% import 'component/cardSec6.html' as card5 %}

{% block content %}






<section id="sec1">
    <div class="container  ">
        <div class="slick">
            <div>
                <div class="row ">


                    <div class="col-6">
                        <div class="left-sec1 text-start ">
                            <h2>FIND CLOTHES THAT MATCHES YOUR STYLE</h2>
                            <p>Browse through our diverse range of meticulously crafted garments, designed to bring out
                                your
                                individuality and cater to your sense of style.</p>
                            <a href="#">Shop Now</a>
                            <div class="list-sec1 text-start">
                                <div>
                                    <span>200+</span>
                                    <span>International Brands</span>
                                </div>
                                <div>
                                    <span>2,000+</span>
                                    <span>High-Quality Products</span>
                                </div>
                                <div>
                                    <span>30,000+</span>
                                    <span>Happy Customers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 align-self-end">
                        <div class="image ">
                            <img src="assets/images/sec1/back.png" alt="">
                            <div class="svg svg-1">
                                <img src="assets/images/sec1/svg1.svg" alt="">
                            </div>
                            <div class="svg svg-2">
                                <img src="assets/images/sec1/svg2.svg" alt="">
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div>
                <div class="row">


                    <div class="col-6">
                        <div class="left-sec1 text-start ">
                            <h2>FIND CLOTHES THAT MATCHES YOUR STYLE</h2>
                            <p>Browse through our diverse range of meticulously crafted garments, designed to bring out
                                your
                                individuality and cater to your sense of style.</p>
                            <a href="#">Shop Now</a>
                            <div class="list-sec1 text-start">
                                <div>
                                    <span>200+</span>
                                    <span>International Brands</span>
                                </div>
                                <div>
                                    <span>2,000+</span>
                                    <span>High-Quality Products</span>
                                </div>
                                <div>
                                    <span>30,000+</span>
                                    <span>Happy Customers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 align-self-end">
                        <div class="image ">
                            <img src="assets/images/sec1/back.png" alt="">
                            <div class="svg svg-1">
                                <img src="assets/images/sec1/svg1.svg" alt="">
                            </div>
                            <div class="svg svg-2">
                                <img src="assets/images/sec1/svg2.svg" alt="">
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec2">
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
            <div class="imges">
                <img src="assets/images/sec2/s1.png" alt="">
                <img src="assets/images/sec2/s2.png" alt="">
                <img src="assets/images/sec2/s3.png" alt="">
                <img src="assets/images/sec2/s4.png" alt="">
                <img src="assets/images/sec2/s5.png" alt="">
            </div>
        </div>
    </div>
</section>


<section>
    <div id="sec3" class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>NEW ARRIVALS</h2>
            </div>
        </div>
        <div class="row ">
            <div class="slick-2 ">
                {% for item in dataEn.sec2 %}
                
                    <div class="col-3">
                       <a href="productDetails.html">
                        {{card.card(item.imgPath,item.title,item.price,item.state,item.priceline,item.discoundprice,item.stars)}}
                       </a> 
                    </div>
                
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button>View All</button>
            </div>
        </div>
    </div>
</section>

<section id="sec4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>TOP SELLING</h2>
            </div>
        </div>
        <div class="row ">
            <div class="slick-2 ">
                {% for item in dataEn.sec3 %}
                
                    <div class="col-3">
                        <a href="productDetails.html">
                            {{card.card(item.imgPath,item.title,item.price,item.state,item.priceline,item.discoundprice,item.stars)}}
                        </a>
                    </div>
                
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button>View All</button>
            </div>
        </div>
    </div>
</section>

<section id="sec5">
    <div class="container">
        <div class="sec5">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>BROWSE BY DRESS STYLE</h2>
                </div>
            </div>
            <div class="row  dress">
                <div class="col-4 flex-fill ">
                    <div class="image">
                        <img src="assets/images/sec5/d1.png" alt="dress">
                        <h3>Casual</h3>
                    </div>
                </div>
                <div class="col-7 ">
                    <div class="image">
                        <img src="assets/images/sec5/d2.png" alt="dress">
                        <h3>Formal</h3>
                    </div>
                </div>
                <div class="col-7">
                    <div class="image">
                        <img src="assets/images/sec5/d3.png" alt="dress">
                        <h3>Party</h3>
                    </div>
                </div>
                <div class="col-4 flex-fill">
                    <div class="image">
                        <img src="assets/images/sec5/d4.png" alt="dress">
                        <h3>Gym</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec6">
    <div class="container text-start">
        <div class="row">
            <div class="col-12">
                <h2>
                    OUR HAPPY CUSTOMERS
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="slick-3 ">
                {% for item in dataEn.sec6 %}
                
                    <div class="col-4">
                        {{card5.card(item.title,item.des)}}
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
        
  
</section>







{% endblock content %}