{% extends "layout.html" %}

{% import 'component/cardSec9.html' as card9 %}
{% import 'component/cardSec3.html' as card1 %}


{% block content %}


<section id="sec8">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <div class="crumb">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item " aria-current="page"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item " aria-current="page"><a href="#">Men</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">T-shirts</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row  align-items-stretch">
            <div class="col-6 ">
                <div class="row  ">
                    <div class="col-3">
                        <div class="shirts">
                            <div class="it-shirt active-shirt">
                                <img src="assets/images/sec8/shirt-3.png" alt="">
                            </div>
                            <div class="it-shirt">
                                <img src="assets/images/sec8/shirt-2.png" alt="">
                            </div>
                            <div class="it-shirt">
                                <img src="assets/images/sec8/shirt-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-9   ">
                        <div class="img-shirt ">
                            <img src="assets/images/sec8/shirt.png" alt="t-shirt">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6  ">
                <div class="details">
                    <h2>One Life Graphic T-shirt</h2>
                    <div class="stars">
                        <img src="assets/images/sec3/Star.svg" alt="star">
                        <img src="assets/images/sec3/Star.svg" alt="star">
                        <img src="assets/images/sec3/Star.svg" alt="star">
                        <img src="assets/images/sec3/Star.svg" alt="star">
                        <img src="assets/images/sec3/halfStar.svg" alt="star">

                        <span>
                            <span class="numStars">4.5/</span>
                            <span class="five">5</span>
                        </span>
                    </div>
                    <div class="price">
                        <span class="afterDis">$260</span>
                        <span class="beforeDis">$300</span>
                        <span class="discound">-40%</span>
                    </div>
                    <p>This graphic t-shirt which is perfect for any occasion. Crafted from a soft and breathable
                        fabric, it offers superior comfort and style.</p>
                    <div class="colors">
                        <h5>Select Colors</h5>
                        <div class="circles">
                            <div class="circle">
                                <span class="span-1 ">
                                    <img src="assets/images/sec8/truee.svg" alt="">
                                </span>
                            </div>
                            <div class="circle non-active-circle">
                                <span class="span-2 ">
                                    <img src="assets/images/sec8/truee.svg" alt="">
                                </span>
                            </div>
                            <div class="circle non-active-circle">
                                <span class="span-3 ">
                                    <img src="assets/images/sec8/truee.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="size">
                        <h5>Choose Size</h5>
                        <div class="btns-size">
                            <span class="active-size">Small</span>
                            <span>Medium</span>
                            <span>Large</span>
                            <span>X-Large</span>
                        </div>
                    </div>
                    <div class="btn-add">
                        <div class="increase-decrease">
                            <button class="min"><i class="fa-solid fa-minus"></i></button>
                            <span class="num">1</span>
                            <button class="max"><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <button class="add">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec9">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                            aria-selected="true">Product Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                            aria-selected="false">Rating & Reviews</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                            data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane"
                            aria-selected="false">FAQs</button>
                    </li>

                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                        tabindex="0">
                        <div class="row">
                            <div class="col-12">
                                <div class="reviews">
                                    <h3>All Reviews <span>(451)</span></h3>
                                    <div class="btns-rev">
                                        <a href="filter.html">
                                            <img src="assets/images/sec9/Frame.svg" alt="">
                                        </a>

                                        <!-- dropdown -->
                                        <select id="cars" name="cars">
                                            <option value="volvo">Latest</option>
                                            <option value="saab">Saab</option>
                                            <option value="fiat">Fiat</option>
                                            <option value="audi">Audi</option>
                                        </select>

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            Write a Review
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Write a Review</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input class="title-text" name="name" placeholder="Your Name.."></input>
                                                        <textarea class="des-text" name="rev" placeholder="Write a Review"></textarea>
                                                      
                                                        <div class="edit-stars">
                                                            
                                                            <i class=" fa-star fa-solid"></i>    
                                                            <i class="fa-regular fa-star"></i>    
                                                            <i class="fa-regular fa-star"></i>    
                                                            <i class="fa-regular fa-star"></i>    
                                                            <i class="fa-regular fa-star"></i>    

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button  type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button  type="button" class="btn btn-primary   btn-rev1">
                                                            add Review</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row cards sec-rev1">
                            {% for item in dataEn.sec6 %}

                            <div class="col-6">
                                {{card9.card(item.title,item.des,item.date,item.stars)}}
                            </div>

                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <div>
                                    <a class="load" href="">Load More Reviews</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                        tabindex="0">
                        <div class="row">
                            <div class="col-12">
                                <div class="reviews">
                                    <h3>All Reviews <span>(451)</span></h3>
                                    <div class="btns-rev">
                                        <a href="filter.html">
                                            <img src="assets/images/sec9/Frame.svg" alt="">
                                        </a>

                                        <!-- dropdown -->
                                        <select id="cars" name="cars">
                                            <option value="volvo">Latest</option>
                                            <option value="saab">Saab</option>
                                            <option value="fiat">Fiat</option>
                                            <option value="audi">Audi</option>
                                        </select>

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModall">
                                            Write a Review
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModall" tabindex="-1"
                                        aria-labelledby="exampleModalLabell" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabell">Write a Review</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input class="title-text2" name="name" placeholder="Your Name.."></input>
                                                    <textarea class="des-text2" name="rev" placeholder="Write a Review"></textarea>
                                                    <div class="edit-stars">
                                                            
                                                        <i class=" fa-star fa-solid"></i>    
                                                        <i class="fa-regular fa-star"></i>    
                                                        <i class="fa-regular fa-star"></i>    
                                                        <i class="fa-regular fa-star"></i>    
                                                        <i class="fa-regular fa-star"></i>    

                                                    </div>
                                                 
                                                </div>
                                                <div class="modal-footer">
                                                    <button  type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button  type="button" class="btn btn-primary   btn-rev2">
                                                        add Review</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row cards sec-rev2">
                            {% for item in dataEn.sec6 %}

                            <div class="col-6">
                                {{card9.card(item.title,item.des,item.date,item.stars)}}
                            </div>

                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <div>
                                    <a class="load" href="">Load More Reviews</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                        tabindex="0">

                        <div class="row">
                            <div class="col-12">
                                <div class="reviews">
                                    <h3>All Reviews <span>(451)</span></h3>
                                    <div class="btns-rev">
                                        <a href="filter.html">
                                            <img src="assets/images/sec9/Frame.svg" alt="">
                                        </a>

                                        <!-- dropdown -->
                                        <select id="cars" name="cars">
                                            <option value="volvo">Latest</option>
                                            <option value="saab">Saab</option>
                                            <option value="fiat">Fiat</option>
                                            <option value="audi">Audi</option>
                                        </select>

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalll">
                                            Write a Review
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalll" tabindex="-1"
                                        aria-labelledby="exampleModalLabelll" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabelll">Write a Review</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input class="title-text3" name="name" placeholder="Your Name.."></input>
                                                    <textarea class="des-text3" name="rev" placeholder="Write a Review"></textarea>
                                                    <div class="edit-stars">
                                                            
                                                        <i class=" fa-star fa-solid"></i>    
                                                        <i class="fa-regular fa-star"></i>    
                                                        <i class="fa-regular fa-star"></i>    
                                                        <i class="fa-regular fa-star"></i>    
                                                        <i class="fa-regular fa-star"></i>    

                                                    </div>
                                                  
                                                </div>
                                                <div class="modal-footer">
                                                    <button  type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button  type="button" class="btn btn-primary   btn-rev3">
                                                        add Review</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row cards sec-rev3">
                            {% for item in dataEn.sec6 %}

                            <div class="col-6">
                                {{card9.card(item.title,item.des,item.date,item.stars)}}
                            </div>

                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <div>
                                    <a class="load" href="">Load More Reviews</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section id="sec10">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    YOU MIGHT ALSO LIKE
                </h2>
            </div>



        </div>


        <div class="row ">
            <div class="slick-2 ">
                {% for item in dataEn.sec10 %}

                <div class="col-3">
                    <a href="productDetails.html">
                        {{card1.card(item.imgPath,item.title,item.price,item.state,item.priceline,item.discoundprice,item.stars)}}
                    </a>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}